<!-- Footer -->
<footer id="footer" class="footer">
    <!-- Footer Links -->
    <div class="container text-center text-md-center">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">
                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Musikk</h5>

                <ul class="list-unstyled">
                    <li><a href="">Alle sanger</a></li>
                    <li><a href="">Legg til sang</a></li>
                    <li><a href="">BPM Kalkulator</a></li>
                </ul>

            </div>

            <hr class="clearfix w-100 d-md-none">


            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kurs</h5>

                <ul class="list-unstyled">
                    <li><a href="">Alle kurs</a></li>
                    <li><a href="">Legg til kurs</a></li>
                </ul>
            </div>
            <!-- End: Grid column 4 -->

            <hr class="clearfix w-100 d-md-none">

        </div>
        <!-- End: Grid row -->

    </div>
    <!-- End: Footer Links -->

    <div class="container">
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/NTNUISwingFolkedans/">
                    <img src="https://img.icons8.com/ios-glyphs/60/0065ff/facebook-circled.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/ntnuiswingogfolkedans/">
                    <img src="https://img.icons8.com/ios/48/e542f4/instagram-new.png">
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/company/ntnui-swing-og-folkedans/">
                    <img src="https://img.icons8.com/ios-glyphs/60/00AAFF/linkedin.png">
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"> © {% now 'Y' %} Copyright:
        <a href="#"> Emil Telstad</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- End: Footer -->
