<!-- Navbar -->
{% load static %}
<nav style="padding: 0px 0px 0px 20px" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

    <a style="padding: 0px; margin: 0px 30px 0px 0px" class="navbar-brand" href="">
        <img style="filter: invert(1)" width="150" src="{% static "songs/images/swing-logo.png" %}" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div id="navbar" class="collapse navbar-collapse mr-auto">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'wbem:api' %}">
                    API
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Functions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'wbem:ei' %}">(ei) EnumerateInstances</a>
                    <a class="dropdown-item" href="">(ein) EnumerateInstanceNames</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'wbem:ecn' %}">(ecn) EnumerateClassNames</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="">
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                </a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <div class="nav-item">
                    <a id="navbar-user" class="nav-link text-success" href="">
                    </a>
                </div>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
            </ul>
        {% endif %}


    </div>
</nav> <!-- End: navbar -->
