{% extends 'ttm4128_assignment2/base.html' %}
{% load static %}

{% block title %}Dashboards{% endblock %}

{% block head %}

{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'wbem:dashboard' %}">Dashboard</a></li>
{% endblock %}

{% block body %}

        <h1>Dashboard:</h1>

        <div class="">

            {% for item in data %}

                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row pb-4">
                {% endif %}

                <div class="col-4">
                    <div class="border rounded border-dark text-center p-4">{{ item }}</div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div>
                {% endif %}

            {% endfor %}


            {% if not data|length|divisibleby:3 %}
                </div>
            {% endif %}

        </div>

        <div class="classnames">
            {% for classname in classnames %}
                <p>{{ classname }}</p>
            {% endfor %}

        </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}
