{% extends 'ttm4128_assignment2/base.html' %}
{% load static %}

{% block title %}Dashboards{% endblock %}

{% block head %}
    <style media="screen">

    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'wbem:enumerate_classnames' %}">EnumerateClassNames</a></li>
{% endblock %}

{% block body %}

        <h1>EnumerateClassNames:</h1>

        <div class="border border-primary rounded px-4 py-2">
            {% for item in data %}
                {{ item }}
                <br>
            {% endfor %}

        </div>



{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}
